* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-height: 100%;
    background: #0f381d;
    color: #3ee77b;
    animation: 5s linear overflow-lock;
    font-family: "JetBrains Mono", monospace;
}

.splash {
    width: 100%;
    padding: 25px 0;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, #3ee77b 10px, #3ee77b 20px);
    animation: 5s ease splash-shrink;
    margin-bottom: 20px;
}
.splash-inner {
    width: 100%;
    font-size: 24px;
    text-align: center;
    background: #0f381d;
    line-height: 40px;
    height: 40px;
}

@keyframes splash-shrink {
    from {
        height: 100vh;
        padding: 45vh 0;
        margin-bottom: 100vh;
    }
    20% {
        height: 100vh;
        padding: 45vh 0;
    }
    60% {
        /* 90px = 40px (inner) + 25px (padding) * 2 */
        height: 90px;
        padding: 25px 0;
        margin-bottom: 100vh;
    }
    to {
        margin-bottom: 20px;
    }
}
@keyframes overflow-lock {
    from, to {
        overflow: hidden;
    }
}

.container {
    margin: 0 auto;
    font-size: 18px;
    padding: 0 1rem;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

p {
    line-height: 1.8rem;
}

a {
    color: inherit;
}

.card {
    padding: 10px;
    margin: 15px 5px 5px;
    border: 2px solid #3ee77b;
}
.card__title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}
.card__content {
    font-size: 16px;
}
